/*Overall full page styles*/
body {
  background-color: #D4E3BB;
  margin: 0;
}

/*Navigation bar code*/
.topnav {
  overflow: hidden;
  background-color: #C0D59B;
  text-align: center;
  font-size: 20px;
}

.topnav a {
  float: left;
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-family: Russo One;
}

.topnav a: hover {
  background-color: white;
  color: black;
}

.topnav .icon {
  display: none;
}

/*Navigation bar adjusting according to screen size*/
@media screen and (max-width: 900px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 400px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/*Logo sizing adjustments*/
.logo-container {
  margin-right: 20px;
  padding-left: 10px;
}

.logo-container img {
  width: 200px;
  height: auto;
}
/*First half of page including image plus heading*/
.white-block {
  box-sizing: border-box;
  width: 100%;
  background-color: white;
  padding: 20px;
  text-align: center;
}

.content {
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
}

.content h2 {
  color: #333;
  font-family: Russo One;
  font-size: 50px;
}

.content p{
  color: black;
  font-family: ABeeZee;
  font-size: 30px;
}

.white-block img{
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
}

.card-heading h3 {
  font-family: Russo One;
  text-align: center;
  font-size: 50px;
  color: #333;
}

/*Divides pages distinctly*/
.page-divider {
  height: 50px;
  margin: 10px 0;
  background-color: #C0D59B;
}

/*Styling each surfing/preview card*/
.cards {
  background-color: #BCD4F1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.surfing-card {
  background-color: white;
  width: 300px;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.surfing-card img {
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
}

.card-details h2 {
  font-family: ABeeZee;
  margin: 0;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}

.card-details p {
  font-family: ABeeZee;
  margin: 0;
  font-size: 20px;
  margin-bottom: 20px;
}

.card-button {
  font-family: ABeeZee;
  display: inline-block;
  padding: 10px 20px;
  background-color: #9CBFE6;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}

.card-button:hover {
  background-color: #BCD4F1;
}

.section-heading {
  font-family: Russo One;
  text-align: center;
  font-size: 50px;
  color: #333;
  margin-bottom: 20px;
}

.paragraph-heading {
  font-family: ABeeZee;
  text-align: center;
  font-size: 25px;
  color: #333;
}

/*Frequently asked questions section styles*/
.faq-section {
  background-color: #F0CADD;
  padding:20px;
}

.faq-box {
  width: 80%;
  margin: 0 auto;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.faq-box h2 {
  text-align: center;
  font-size: 25px;
  font-family: ABeeZee;
}

.faq-box a {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #007BFF;
}

/*Footer*/
.footer {
  background-color: #BB8027;
  color: black;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: ABeeZee;
}

.footer-content p {
  margin: 5px 0;
}

